    <!-- Footer -->
    <footer class="footer">
        <div class="socials">
          <i class="fa fa-facebook fa-inverse"></i>
          <i class="fa fa-instagram fa-inverse"></i>
          <i class="fa fa-envelope fa-inverse"></i>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; Sparefins 2023</p>
    </footer>