    <!-- Footer -->
    <footer class="footer">
        <div class="socials">
          <a href="https://www.facebook.com/Sparefins/" target="_blank"><i class="fa fa-facebook fa-inverse"></i></a>
          <a href="https://www.instagram.com/sparefinsnz/" target="_blank"><i class="fa fa-instagram fa-inverse"></i></a>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; Sparefins 2023</p>
    </footer>