<div class="card card-login mx-auto mt-5">
    <div class="card-header">New Listing</div>

    <div class="card-body">
        <form action="/listings/add-listing" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="listingTitle">Title</label>
                <input name="listingTitle" class="form-control" id="listingTitle" type="text" aria-describedby="emailHelp" placeholder="Enter Title">
            </div>
            <div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" class="form-control" placeholder="Leave a short description here" id="description" style="height: 100px"></textarea>
</div>
<div class="form-group">
  <label for="finPhoto" class="form-label">Photo</label>
  <input class="form-control" type="file" id="finPhoto" name="file">
</div>
{{> home/fin-options}}
            <button type="submit" class="btn btn-primary btn-block">Submit Listing</button>
        </form>
    </div>
</div>