<div class="row">
  {{> home/sidebar}}
  <div class="col mt-4">

    <div class="row row-cols-1 row-cols-md-3 g-4" id="postsPage">
      {{#if filteredListings}}
        {{#each filteredListings}}
          {{> home/listings}}
        {{/each}}
      {{else}}
        {{#each posts}}
          {{> home/listings}}
        {{/each}}
      {{/if}}
    </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            {{#paginate current=current pages=pages}}{{/paginate}}
          </ul>
          </div>
          </div>
