<div class="card card-login mx-auto mt-5">
    <div class="card-header">View Messages</strong></div>
    <div class="card-body">
        {{#each message}}
        {{messageBody}}
        {{/each}}
    </div>